<mat-card class="header">
  <mat-card-title>
    POC QR Code generator
  </mat-card-title>
</mat-card>
<mat-card class="control">
  <mat-card-title>
    Sender
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Send to</mat-label>
      <input
        matInput
        type="email"
        placeholder="Email address"
        [formControl]="emailAddress"
      />
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button (click)="sendAsync()">
      Send
    </button>
  </mat-card-footer>
</mat-card>
<mat-card class="log">
  <mat-card-title>
    Log
  </mat-card-title>
  <mat-card-content>

  </mat-card-content>
</mat-card>
<mat-card class="tracker">
  <mat-card-title>
    Tracker
  </mat-card-title>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
